.tabsHeader {
  display: flex;
  gap: 12px;
}

.tabButton {
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  color: #666;
  transition: all 0.3s;
  border-bottom: 2px solid transparent;
}

.active {
  color: #817200;
  border-bottom: 2px solid #817200;
}

.tabsContent {
  padding: 10px;
}

.contentInner {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.tabsDescription {
  color: #817200;
  font-size: 16px;
}
