.customFooter {
  padding: 40px 10px;
  background-color: #c08433;
}

.footerLogo {
  font-size: 18px;
  font-weight: bold;
  color: brown;
}

.footerInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footerList {
  list-style-type: none;
  display: flex;
  gap: 30px;
}
