.customHeader {
  padding: 30px 15px;
  background-color: #6b3703;
}

.headerInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headerList {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.headerLogo {
  cursor: pointer;
}
